//sass --watch css/style.scss:css/style.css

// variables
$tablet: 992px;
$phone: 767px;

$text-resizer: 1200px;


// styles
@font-face {
    font-family: 'TTSFirsNeue';
    src: url("../fonts/TTFirsNeue-Regular.woff2") 
            format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTSFirsNeue';
    src: url("../fonts/TTFirsNeue-Medium.woff2") 
            format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TTSFrisNeue';
    src: url("../fonts/TTFirsNeue-DemiBold.woff2")
             format("woff2");
    font-weight: bold;
    font-style: normal;
}


html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    color: rgba(28, 29, 34, 1);
    font-family: 'TTSFirsNeue';
    font-size: 1.6rem;
    padding: 0;
}

h1, h2, h3 {
    font-weight: 500;
}

.cluster-headline {
    font-size: 4.8rem;
    font-weight: 500;
    line-height: 1.0833;

    @media (max-width: $tablet) {
        font-size: 3.2rem;
        line-height: 1.25;
    }

    @media (max-width: $phone) {
        font-size: 2.4rem;
    }
}


// sizes of containers and e.t.c
body {
    background: url('../images/backgorund.png')
             no-repeat;
    background-size: 100% 75rem;

    @media (max-width: $tablet) {
        background-size: 100% 65rem; 
    }

    @media (max-width: $phone) {
        background-size: 100% 55rem; 
    }
}

.tm-width {
    max-width: 1440px;
    padding: 0 10rem;
    min-width: 320px;
    margin-inline: auto;

    @media (max-width: $tablet) {
        max-width: 768px;
        padding:  0 3.2rem;
    }

    @media (max-width: $phone) {
        max-width: 500px;
        padding: 0 2rem;
    }
}


//mb-1 = 1rem

.mb-1 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-6 {
    margin-bottom: 6rem;
}


//global class styles
.header-underline {
    border: 1px solid rgba(255, 255, 255, 0.2);

    @media (max-width: $phone) {
        margin-bottom: 1rem;
    }
}

// Buttons
.btn {
    text-decoration: none;
    color: white;
    white-space: nowrap;
    line-height: 1.42;
    padding: 0.8rem 1.2rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2.3rem;
    font-size: 1.4rem;

    @media (max-width: $tablet) {
        font-size: 1.2rem;
        padding: 0.6rem 1.2rem;
        line-height: 1.5;
    }
}

.menu-item {
    text-decoration: none;
    color: white;
    white-space: nowrap;
    font-size: 1.4rem;
    margin-right: 2.4rem;
    line-height: 1.43;
}

.btn-blue {
    display: inline-block;
    align-self: center;
    text-decoration: none;
    padding: 16px 24px;
    border: 1px solid rgba(19, 139, 225, 0.4);
    border-radius: 12px;
    color: rgba(19, 139, 225, 1);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.5;
}

.cont-btn {
    display: inline-block;
    font-weight: 500;
    padding: 1.2rem 2.4rem;
    background: linear-gradient(to right,
        rgba(55, 203, 250, 1),
        rgba(34, 157, 245, 1));
    border-radius: 1.2rem;
    color: white;
    margin: 0 auto;
}



.global-tag-line {
    display: inline-block;
    border-radius: 0.8rem;
    background-color: rgba(19, 139, 225, 0.18);
    color: rgba(19, 139, 225, 1);
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 2.4rem;


    @media (max-width: $tablet) {
        font-size: 1.2rem;
        margin-bottom: 1.6rem;
        padding: 0.8rem 1rem;
    }

    @media (max-width: $phone) {
        letter-spacing: 0.1rem;
        border-radius: 0.4rem;
        font-size: 1.1rem;
        padding: 0.55rem 0.8rem;
        line-height: 1.15;
    }
}

.text-headline {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.3333;
}

.img-btn {
    margin-left: auto;
}


.icon {
    height: 44px;
    width: 44px;
    border: 8px solid rgba(0, 153, 255, 0.18);
    border-radius: 1rem;
    margin-bottom: 2rem;
    
    img {
        background-color:
             rgba(0, 153, 255, 0.18);
        width: 100%;
        height: 100%;
    }

}



// things starting here


//header`s

.header-cont1 {
    display: flex;
    align-items: center;
    

    .header-logo {
        margin-right: 2rem;
        height: 4rem;

       .logo-dt-tb {
            width: 100%;
            height: 100%;
        }

        .logo-ph {
            display: none;
        }

    }


    .header-tab {
        display: flex;
        gap: 2rem;

        input[type=radio] {
            display: none;
            
            &:checked + label {
                position: relative;
                font-weight: 500;
                color: rgba(255,255,255, 1);
                
                &::before {
                    content: "___";
                    position:absolute;
                    bottom: -0.5rem;
                    left: 50%;
                }
            }
            
        }
        
        label {
            font-size: 1.4rem;
            padding: 2.7rem 0 2.3rem 0;
            line-height: 1.43;
            color: rgba(255,255,255, 0.8);
        }

        .devider {
            background-color:rgba(255,255,255,0.2);
            width: 1px;
            min-height: 1.2rem;
            align-self: center;
        }
    }


    .header-cips {
        display: flex;
        margin-left: auto;
        align-items: center;
        gap: 1.6rem;
        margin-right: 4rem;

        .chips {
            display: flex;
            align-items: center;
            gap: 0.8rem;
            
            .chover {
                font-size: 1.2rem;
                color: white;
            }

            .logo-holder-btn {
                width: 2rem;
                height: 2rem;

                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }


    .header-auth {
        display: inline-flex;
        gap: 1rem;
        align-items: center;
        
        &-text {
            color: white;
            font-size: 1.4rem;
        }

        &-img {
            width: 1.8rem;
            height: 1.8rem;
            
            img {
                object-fit: cover;
            }
        }
    }

    .header-burger-menu {
        display: none;
    }


    @media (max-width: $tablet) {

        .header-logo {
            margin-right: 0.6rem;
            height: 3rem;
        }

        .header-tab {
            gap: 1rem;
            label {
                font-size: 1.2rem;
                line-height: 1.5;
            }
        }

        .header-cips {
            gap: 0.8rem;
            margin-right: 1.6rem;

            .chips {
                .logo-holder-btn {
                    width: 1.8rem;
                    height: 1.8rem;
                }
            }

        }

        .header-auth {
            &-text {
                display: none;
            }
        }
    }


    @media (max-width: $phone) {
        padding: 0.8rem 1.2rem;
        .header-logo {
            max-height: 2.2rem;
            align-items: center;
            .logo-dt-tb {
                display: none;
            }

            .logo-ph {
                display: unset;
                object-fit: cover;
            }
        }

        .header-tab {
            display: none;
        }

        .header-cips {
            display: none;
        }

        .header-auth {
            margin-left: auto;
            margin-right: 3.2rem;

            &-text {
                display: block;
            }
           
        }

        .header-burger-menu {
            display: flex;
            align-items: center;
        }
    }
}


.header-cont2 {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;

    .menu-desktop {
        padding: 1.6rem 0;
    }

    .menu-tablet {
        display: none;
    }

    .search-img {
        margin-left: auto;
        max-width: 1.8rem;
        max-height: 1.8rem;

        img {
            object-fit: cover;
        }
    }

    @media (max-width: $tablet) {

        .menu-desktop {
            display: none;
        }

        .menu-tablet {
            padding: 1.6rem 0;
            display: block;
        }
    }

    @media (max-width: $phone) {
        display: none;
    }
}


// main

.cluster-cont-info {
    min-height: 650px;
    padding: 6rem;
    position: relative;
    border-radius: 6rem 6rem 0 0;
    background: linear-gradient(to bottom,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0)
    );
    box-sizing: content-box;


    .cont-info-img {
        position: absolute;
        left: -3.5rem;
        bottom: -1.8rem;
        
        .desktop {
            width: 105%;
        }

        .tablet, .phone{
            display: none;
        }
    }

    .information {
        position: relative;
        max-width: 600px;
        
        h1 {
            font-size: 6.4rem;
            margin-bottom: 1.6rem;
        }
        
        &-text {
            font-size: 1.6rem;
            margin-bottom: 4rem;
        }


        .cont-info-btn {
            display: flex;
            gap: 1.2rem;
        }

        // @media (max-width: $text-resizer) {
        //     max-width: 450px;
        //     h1 {
        //         font-size: 4.8rem;
        //     }

        //     &-text {
        //         font-size: 1.4rem;
        //     }
        // }
    }

    @media (max-width: $tablet) {
        min-height: 450px;

        .cont-info-img {
            bottom: -2.8rem;
            left: unset;
            right: -3rem;

            .desktop{
                display: none;
            }
            
            .tablet {
                display: unset;
                width: 100%;
            }
        }

        .information {
            max-width: 350px;

            h1 {
                font-size: 3.6rem;
                margin-bottom: 1.2rem;
            }

            &-text {
                margin-bottom: 3.2rem;
            }

            .cont-info-btn {
                flex-direction: column;
                max-width: 300px;

                .btn-blue {
                    display: unset;
                    text-align: center;
                    padding: 1.2rem 2.4rem;
                }
            }
        }
    }

    @media (max-width: $phone) {
        min-height: 600px;
        .cont-info-img {
            right: -1rem;
            bottom: -4rem;
            .tablet {
                display: none;
            }
            
            .phone {
                display: block;
                max-width: 100%;
            }
        }

        .information {
            margin-inline: auto;
            max-width: 300px;

            h1 {
                font-size: 2.4rem;
            }
        }
    }
}



.cluster-cont1 {
    display: flex;

    .cluster-information {
        margin-right: 4rem;
        border: 1px solid rgba(19, 139, 225, 0.2);
        border-radius: 3.2rem;
        padding: 3.2rem;
        background: linear-gradient(to top, 
                rgba(19, 139, 225, 0.2), 
                rgba(19, 139, 225, 0.04));

        &-text {
            margin-bottom: 1.2rem;
            .phone {
                display: none;
            }

            .cluster-headline {
                font-size: 3.2rem;
                line-height: 1.25;
            }

        }

        .cont1-img {
            max-width: 300px;
            margin: 0 auto;
            img {
                object-fit: cover;
            }
        }
    }

    .tm-about {
        padding-top: 2.4rem;
        display: flex;
        flex-wrap: wrap;
        gap: 4rem; 
        
        &-frame {
            flex: 1;
            min-width: calc(50% - 4rem);
            
            &:not(:nth-child(6)):not(:nth-child(7)) {
                border-bottom: 
                    1px solid rgba(28, 29, 34, 0.12);
            }

            .devider-hr {
                display: none;
            }

            .about-text {

                &-high {
                    font-size: 2.4rem;
                    font-weight: 500;
                    margin-bottom: 0.8rem;
                }

                &-low {
                    color: rgba(28, 29, 34, 0.36);
                }
            }
        }
    }

    @media (max-width: $tablet) {
        flex-direction: column;

        .cluster-information {
            display: flex;
            flex-direction: row;
            margin-bottom: 1.6rem;
            
            &-text {
                max-width: 300px;
            }
            h2 {
                font-size: 2.4rem;
            }

        }

        .tm-about {
            border: 1px solid rgba(28, 29, 34, 0.12);
            border-radius: 2.4rem;
            padding: 3rem;
            
            &-frame {
                padding-right: 3rem;
                border-bottom: unset;
                min-width: calc((100% - 4rem * 6) / 3);

                &:not(:nth-child(3)) {
                    border-right: 
                        1px solid rgba(28, 29, 34, 0.12);
                }

                &:not(:nth-child(6)):not(:nth-child(7)) {
                    border-bottom: none;
                }
            }

            .devider-hr {
                display: block;
                order: 4;
                border-bottom: 
                    1px solid rgba(28, 29, 34, 0.12);
                height: 1px;
                width: 100%;
            }

            .cluster-ord {
                order: 1;
            }

            .people-ord {
                order: 2;
            }

            .project-ord {
                order: 3;
            }

            .request-ord {
                order: 4;
            }

            .techreq-ord {
                order: 5;
            }

            .payment-ord {
                order: 6;
                border: none;
            }

        }
    }


    @media (max-width: $phone) {

        .cluster-information {
            background: none;
            border: none;
            
            &-text {
                max-width: 100%;
            
                .desktop {
                    display: none;
                }

                .phone {
                    display: block;
                }
            }

            .cont1-img{
                display: none;
            }
        }
        
        .tm-about {

            &-frame {
                padding-bottom: 1.6rem;
                padding-right: 0;
                min-width: 100%;
               
                &:nth-child(1n) {
                    border-right: none;
                }

                &:nth-child(1n):not(:last-child) {
                    border-bottom: 
                        1px solid rgba(28, 29, 34, 0.12);
                }

                .about-text {
                    &-high {
                        font-size: 1.8rem;
                    }

                    &-low {
                        font-size: 1.4rem;
                    }
                }
            }

            .devider-hr {
                display: none;
            }


            .payment-ord {
                order: 4;
            }

            .request-ord {
                order: 5;
            }

            .techreq-ord {
                order: 6;
            }
        }
    }
}



.cluster-cont2 {
    display: flex;
    flex-direction: column;

    &-cardholder {
        display: grid;
        grid-template-columns: 
            repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 1fr;
        gap: 2rem;

        
        .cluster-card {
            display: flex;
            flex-direction: column;
            padding: 1.2rem 0.8rem 2.4rem;
            border-radius: 3.2rem;
            box-shadow:
                0px -4px 8px 0px rgba(68, 83, 113, 0.05),
                0px 0px 16px 0px rgba(68, 83, 113, 0.1);

            .cont2-img {
                display: flex;
                border-radius: 3.2rem;
                background-color: rgba(248, 248, 248, 1);
                justify-content: center;
                align-items: center;
                min-height: 200px;
                margin-bottom: 2rem;

                img {
                    max-width: 75%;
                }
            }

            
            &-name {
                font-size: 1.8rem;
                font-weight: 500;
                margin-bottom: 2.4rem;
                padding: 0 1rem;
            }
            
            &-info {
                display: flex;
                padding: 0 1rem;

                &-wrapper {
                    margin-top: auto;
                }
                
                &-desc {
                    &-high {
                        font-size: 2.4rem;
                        font-weight: 500;
                        color: rgba(19, 139, 225, 1);
                    }

                    &-low {
                        font-weight: 500;
                    }
                }

                .devider-2 {
                    margin: 0 4rem;
                    background-color: rgba(28, 29, 34, 0.12);
                    width: 1px;
                }
            }
        }
    }

    @media (max-width: $tablet) {

        &-header {
            margin-bottom: 3.2rem;
            h2 {
                font-size: 3.2rem;
            }
        }

        &-cardholder {
            margin-bottom: 3rem;

            .cluster-card {

                &-name {
                    font-size: 1.6rem;
                }

                &-info-desc {
                    &-high {
                        font-size: 1.8rem;
                    }
                }

                .devider-2 {
                    margin: 0 3.2rem;
                }
            }
        }
    }
}


.cluster-cont3 {

    &-header {
        text-align: center;

        .cluster-headline {
            margin-bottom: 2rem;
        }

        .switch-block {
            display: inline-flex;
            align-items: center;
            gap: 1.2rem;
        
            &-text {
                color: rgba(19,138,225, 1);
                font-size: 3.2rem;
                font-weight: 500;
            }
        
            .switch {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 34px;
        
                input {
                    opacity: 0;
                    width: 0;
                    height: 0;
        
                    &:checked + .slider:before {
                        -webkit-transform: translateX(26px);
                        -ms-transform: translateX(26px);
                        transform: 26px;
                    }
                }
        
                .slider {
                    border-radius: 34px;
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(232, 237, 242, 1);
                    -webkit-transition: .4s;
                    transition: .4s;
                }
        
                .slider:before {
                    border-radius: 50%;
                    position: absolute;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: rgba(19, 139, 225, 1);
                    -webkit-transition: .4s;
                    transition: .4s;
                }
            }
        }

        .switch-block-2 {
            display: none;
        }
    }

    .cluster-grid {
        display: grid;
        grid-template-areas: 
            "tech search test partner"
            "tech team place mscHub"
            "feedback feedback req mscHub";
        gap: 2rem;
        
        &-text {
            position: relative;
            max-width: 250px;

            &-high {
                font-weight: 500;
                font-size: 1.8rem;
                margin-bottom: 0.8rem;
                display: inline-flex;
                    gap: 0.8rem;
                    align-items: center;
                    
                    .popup-info {
                        max-width: 2.4rem;
                        max-height: 2.4rem;
                    }

            }
        }
    }

    .grid-card {
        position: relative;
    
        & > *[data-block=yes] {
            box-shadow:
            0px -4px 8px 0px rgba(68, 83, 113, 0.05),
            0px 0px 16px 0px rgba(68, 83, 113, 0.1);
            border-radius: 2rem;
            padding: 2.4rem;
            position: relative;
        }
    
        .finance-img {
            z-index: -1;
            position: absolute;
            bottom: -3rem;
            right: 5rem;
            img {
                width: 100%;
            }
        }
    
        .feedback-img {
            position: absolute;
            right: 0;
            top: -2rem;
            img {
                width: 100%;
            }
        }
    
        .tower {
            position: absolute;
            top: -6rem;
            right: -2rem;
            img {
                width: 100%;
            }
    
        }
    
        .imsc-img {
            position: absolute;
            bottom: -2rem;
            
            img {
                width: 100%;
            }
        }
    
    
        &-1 {
            grid-area: tech;
        }
    
        &-2 {
            grid-area: search;
        }
    
        &-3 {
            grid-area: team;
        }
    
        &-4 {
            grid-area: feedback;
        }
    
        &-5 {
            grid-area: test;
        }
    
        &-6 {
            grid-area: partner;
        }
    
        &-7 {
            grid-area: place;
        }
    
        &-8 {
            grid-area: req;
        }
    
        &-9 {
            grid-area: mscHub;
        }
    }


    @media (max-width: $tablet) {
        .cluster-cont3-header {
            margin-bottom: 3.2rem;
            
            .cluster-headline {
                margin-bottom: 2rem;
            }
        }

        .cluster-grid {
            grid-template-areas: 
                "tech search"
                "tech team"
                "feedback feedback"
                "test partner"
                "place mscHub"
                "req mscHub";
            gap: 1.6rem;

            &-text {
                min-width: 290px;
                max-width: 300px;

                &-high {
                    font-size: 1.6rem;
                }
            }
        }

        .grid-card {
            .finance-img {
                bottom: -4rem;
                right: 6rem;
            }   
        }
    }


    @media (max-width: $phone)  {

        &-header {


            .cluster-headline {
                margin-bottom: 1.2rem;
            }

            .switch-block {
                display: none;
            }

            .switch-block-2 {
                display: inline-flex;
                border: 1px solid rgba(28, 29, 34, 0.12);
                border-radius: 1.2rem;
                padding: 0.4rem;
                gap: 0.6rem;

                input[type=radio] {
                    display: none;
                
                    &:checked + label {
                        background-color: rgba(19, 139, 225, 1);
                        color: white
                        
                    }
                }
                
                label {
                    border-radius: 0.8rem;
                    padding: 0.8rem 1.2rem;
                }

            }
        }


        .cluster-grid {
            display: flex;
            flex-direction: column;

            &-text {
                max-width: 100%;
            }

        }

        .grid-card {

            .finance-img {
                right: unset;
                left: 15rem;
                bottom: -5rem;
            }

            .feedback-img {
                top: unset;
                bottom: -4rem;
                right: 10rem;
            }

            .imsc-img {
                right: 10rem;
                bottom: -5rem;
            }

            &-1, &-4, &-9 {
                min-height: 350px;
            }

            
            }

        }
    }




.cluster-cont4 {
    display: flex;
    position: relative;
    height: 700px;
    
    &-area{
        align-self: center;
        margin: 0 auto;
        text-align: center;

        &-description {
            max-width: 600px;
            line-height: 1.5;
            align-self: center;
            margin-bottom: 3.2rem;
        }
    
        .cluster-headline {
            max-width: 900px;
            margin-bottom: 1.6rem;
        }
    

        &-btn {
            display: flex;
            gap: 1.2rem;
            justify-content: center;

            .changes {
                padding: 1.2rem 2.4rem;
            }
        }
    }


    .notes-img {
        position: absolute;
        top: 3.6rem;
        left: 7rem;
    }

    .hands-img {
        position: absolute;
        top: 5.3rem;
        right: 3.4rem;
    }

    .rocket-img {
        position: absolute;
        bottom: 7.8rem;
        left: 7rem;
    }

    .coins-img {
        position: absolute;
        bottom: 12.8rem;
        right: 6.5rem;
    }

    @media (max-width: $tablet) {
        max-height: 500px;

        &-area {
            max-width: 550px;
            
            .text {
                margin-bottom: 2.4rem;

                .cluster-headline {
                    margin-bottom: 1.2rem;
                }
            }
        }
        
        .notes-img {
            position: absolute;
            top: 3.3rem;
            left: 0.1rem;
            max-width: 147px;

            img {
                width: 100%;
            }
        }
    
        .hands-img {
            position: absolute;
            top: 4.4rem;
            right: 1.6rem;
            max-width: 122px;

            img {
                width: 100%;
            }
        }
    
        .rocket-img {
            position: absolute;
            bottom: 4.1rem;
            left: 2.1rem;
            max-width: 84px;

            img {
                width: 100%;
            }
        }
    
        .coins-img {
            position: absolute;
            bottom: 3.5rem;
            right: 1.1rem;
            max-width: 110px;

            img {
                width: 100%;
            }
        }

    @media (max-width: $phone) {

        &-area {
            max-width: 335px;

            .text {
                margin-bottom: 1.2rem;

                &-description {
                    max-width: 330px;
                }
            }

            &-btn {
                flex-direction: column;
                gap: 1.2rem;
                
                .btn-blue {
                    min-width: 100%;
                    padding: 1.1rem 2.4rem;
                }
            }
        }

        .notes-img {
            top: 0.7rem;
            left: 5.2rem;
            max-width: 109px;
            transform: rotate(3deg);
        }
    
        .hands-img {
            top: 1.6rem;
            right: 5.8rem;
            max-width: 85px;
        }
    
        .rocket-img {
            display: none;
        }
    
        .coins-img {
            display: none;
            }
        }
    }
}



.cluster-cont5 {
    position: relative;
    padding: 4rem;
    border: 1px solid rgba(37, 170, 245, 0.5);
    border-radius: 4.8rem;
    background: linear-gradient(to bottom,
    rgba(189, 229, 252, 0.05),
    rgba(37, 170, 245, 0.5));

    &-text {
        max-width: 720px;
        margin-bottom: 4rem;
        .cluster-headline {
            margin-bottom: 1.6rem;
        }

        .div-text {
            margin-bottom: 2.4rem;
            line-height: 1.5;
        }

    }
    
    .cont5-img{
        position: absolute;
        top: -2rem;
        right: 0;
        max-height: 390px;

        img{
            max-width: 100%;
        }
    }

    .div-tit {
        font-size: 3.2rem;
        line-height: 1.375;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    &-content {
        display: flex;
        gap: 1.2rem;

        .content1 {
            display: grid;
            grid-template-rows: 1fr 0.9fr 0.5fr;
            background-color: white;
            border-radius: 2.4rem;
            padding: 2.4rem;
            flex-basis: 100%;
            

            &-headline {
                grid-row: 1;
                font-weight: 500;
                font-size: 2.4rem;
                line-height: 1.3333;
                margin-bottom: 1.2rem;
            }

            &-description {
                line-height: 1.5;
                grid-row: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                overflow:hidden;

            }

            &-btn {
                grid-row: 3;
                display: inline-flex;
                margin-top: auto;
        
                .logo-text {
                    display: flex;
                    align-items: center;
                    margin-right: 1.2rem;
        
                    .logo {
                        max-height: 40px;
                        max-width: 40px;
                        margin-right: 1.2rem;
                    }
        
                    .div-text {
                        font-weight: 500;
                    }
                }
            }
        }

        .content2 {
            position: relative;
            display: flex;
            flex-direction: column;
            background: linear-gradient(to right,
            rgba(55, 203, 250, 1),
            rgba(34, 157, 245, 1));
            border-radius: 2.4rem;
            padding: 2.4rem;
            flex-basis: 100%;

            &-text {
                color: white;
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.333;
                margin-top: auto;
                margin-bottom: 2rem;
            }

            &-text-table {
                display: none;
            }

            &-btn {
                display: inline-flex;
                max-width: fit-content;
                font-weight: 500;
                border-radius: 1.2rem;
                padding: 1.2rem 2.4rem;
                background-color: white;
                line-height: 1.5;
            }

            .cont5-img {
                position: absolute;
                max-width: 180px;
                top: -1.5rem;
                left: -2rem;

                img {
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: $tablet) {
        padding: 3.2rem;
        
        .cont5-img {
            display: none;
        }
        
        &-content {
            flex-wrap: wrap;
            gap: 1.6rem;

            .content1 {
                flex-basis: calc((100% - 1.6rem) / 2);
                margin-bottom: 1.6rem;
            }

            .content2 {
                flex-direction: row;

                &-text {
                    display: none;
                }
                
                &-text-table {
                    display: block;
                    max-width: 250px;
                    font-size: 1.8rem;
                    margin: unset;
                }

                &-btn {
                    margin-left: auto;
                    font-size: 1.4rem;
                    line-height: 1.43;
                    border-radius: 0.8rem;
                }

                .cont5-img {
                    display: block;
                    top: -2rem;
                    left: 25rem;
                }
            }
        }
        
    }

    @media (max-width: $phone) {
        
        .cont-btn {
            width: 100%;
            text-align: center;
        }

        &-content {
            display: grid;
            grid-template-rows:
                repeat(3, 1fr);

            .content1 {
                flex-basis: 100%;
                margin-bottom: unset;
            }

            .content2 {
                flex-direction: column;
                &-text {
                    margin-bottom: 2rem;
                    margin-top: auto;
                    font-size: 2.4rem;
                    line-height: 1.333;
                }

                .cont5-img {
                    max-width: 200px;
                    top: -1.5rem;
                    left: -2.5rem;
                }

                &-btn {
                    min-width: 100%;
                    margin-left: unset;
                    display: inline-block;
                    text-align: center;
                }
            }            
        }
    }
}


.cluster-cont6 {

    .cluster-headline {
        margin-bottom: 4rem;
    }

    &-content {
        display: grid;
        grid-template-columns: 
            repeat(auto-fit,minmax(250px, 1fr));
        gap: 2.4rem;

        .grant {
            display: flex;
            flex-direction: column;
            border-radius: 3.2rem;
            padding: 1.6rem;
            box-shadow:
                0px -4px 8px 0px rgba(68, 83, 113, 0.05),
                0px 0px 16px 0px rgba(68, 83, 113, 0.1);

            &-img {
                margin-bottom: 2.4rem;
                text-align: center;
                background: linear-gradient(to right,
                rgba(121, 202, 248, 0.2),
                rgba(121, 202, 248, 0.5)
                );
                border-radius: 2.8rem;
                min-height: 192px;
                align-content: center;
                
                img {
                    margin: 0 auto;
                    max-width: 100%;
                }
            }

            &-text {
                padding: 0 1.6rem;
                display: flex;
                flex-direction: column;
                flex: 1;

                .text-headline {
                    margin-bottom: 1.2rem;
                }
                
                &-description {
                    margin-bottom: 2.4rem;
                    line-height: 1.5;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }

            &-btn {
                display: inline-block;
                margin-top: auto;

                padding: 1.2rem 2.4rem;
                border-radius: 1.2rem;
                border: 1px solid rgba(19,139,225, 0.4);
                color: rgba(19, 139, 225, 1);
                text-align: center;
                min-width: 100%;
            }
        }
    }

    .btn-wrapper {
        min-width: 100%;
        text-align: center;
    }


    @media (max-width: $tablet) {

        &-content {
            display: flex;
            flex-direction: column;
        }

        .grant {
            flex-direction: row;
            border-radius: 2rem;
            padding: 1.2rem 2.4rem 1.2rem 1.2rem;

            &-img {
                min-width: 324px;
                min-height: 210px;
                margin-bottom: 0;
                margin-right: 2.8rem;
                border-radius: 1.6rem;
            }

            &-text {
                padding: 0;

                .text-headline {
                    font-size: 1.8rem;
                }

            }
        }
    }


    @media (max-width: $phone) {
        
        .grant {
            flex-direction: column;
            border-radius: 2.4rem;
            padding: 1.2rem;

            &-img {
                min-width: 100%;
                margin-right: 0;
                margin-bottom: 2.4rem;
                border-radius: 1.2rem;
            }
        }

        .cont-btn {
            min-width: 100%;
        }
    }
}


.cluster-cont7 {
    .cont7-grid {
        display: grid;
        grid-template-areas: 
        "first first second"
        "third fourth fifth";
        gap: 2rem;

        &-1 {
            background-color: rgba(0, 191, 255, 0.05);
            border-radius: 3.2rem;
            padding: 3.2rem;
            grid-area: first;
            display: flex;
            gap: 3.2rem;

            &-firstblock {
                flex-basis: 100%;
            }

            &-secondblock {
                flex-basis: 100%;
                background-color: white;
                border-radius: 2.4rem;
                padding: 2.4rem;
            }
        }

        &-2 {
            grid-area: second;
        }

        &-3 {
            grid-area: third;
        }

        &-4 {
            grid-area: fourth;
        }

        &-5 {
            grid-area: fifth;
        }

        .card-round {
            box-shadow:
                0px -4px 8px 0px rgba(68, 83, 113, 0.05),
                0px 0px 16px 0px rgba(68, 83, 113, 0.1);
            border-radius: 3.2rem;
            padding: 3.2rem;
        }

        .customer-text {

        }

        .company-text {

        }
    }
}